<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
  version="2.5" metadata-complete="true">
  
  <servlet>
    <servlet-name>hello-servlet</servlet-name>
    <servlet-class>${package}.server.HelloServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>hello-servlet</servlet-name>
    <url-pattern>/hello/</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>application.html</welcome-file>
  </welcome-file-list>
  
</web-app>
